[xarchiver]
preferred_format=15
prefer_unzip=true
confirm_deletion=true
sort_filename_content=false
store_output=false
icon_size=0
show_archive_comment=false
show_sidebar=true
show_location_bar=true
show_toolbar=true
preferred_custom_cmd=
preferred_temp_dir=/tmp
preferred_extract_dir={{ xfce_xarchiver_dir }}
allow_sub_dir=0
ensure_directory=true
overwrite=false
full_path=true
touch=false
fresh=false
update=false
store_path=false
updadd=false
freshen=false
recurse=true
solid_archive=false
remove_files=false
