[main]
plugins={{ network_manager_plugins | join(',') }}

[ifupdown]
managed={{ network_ifupdown_managed }}

[device]
wifi.scan-rand-mac-address={{ network_random_mac }}

{% if network_random_mac == 'yes' -%}
[connection]
wifi.cloned-mac-address={{ network_wifi_cloned_mac_address }}
ethernet.cloned-mac-address={{ network_ethernet_cloned_mac_address }}
connection.stable-id={{ network_connection_stable_id }}
{%- endif -%}
