[connection]
id={{ item.name }}
uuid={{ 9999999999999999999999 | random | to_uuid }}
type=vpn
autoconnect={{ item.auto | default(false) }}
permissions=

[vpn]
ca={{ network_cert_path }}
cipher=AES-256-CBC
connection-type=password
dev=tun
password-flags=0
ping=10
ping-restart=60
remote={{ item.domain }}:{{ item.port }}
remote-cert-tls=server
reneg-seconds=0
tun-ipv6=yes
username={{ network_username }}
service-type=org.freedesktop.NetworkManager.openvpn

[vpn-secrets]
password={{ network_password }}

[ipv4]
dns-search=
method=auto

[ipv6]
addr-gen-mode=stable-privacy
dns-search=
ip6-privacy=0
method=auto
